<html>
<head>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" ></script>


	<!-- Local -->
	<link href='../libs/lato/lato.css' rel='stylesheet' type='text/css'>
	<link href='../libs/chunk/chunk.css' rel='stylesheet' type='text/css'>
	<link href='../libs/impact/impact.css' rel='stylesheet' type='text/css'>
	<link href='../libs/font-awesome/css/font-awesome.css' rel='stylesheet' type='text/css'>



	<!-- Style -->
	<link rel="stylesheet" type="text/css" href="../style/reset.css" />
	<link rel="stylesheet" type="text/css" href="../style/base.css" />
	<link rel="stylesheet" type="text/css" href="../style/dogefordogs.css" />




	<script>
	var util = {
		//args = {url, type, data, success, error}
		ajax : function(args){
			var req = new XMLHttpRequest();
			req.open(args.type || "GET" , args.url, true);
			req.onreadystatechange = function(){
				if(req.readyState != 4) return;
				if(req.status != 200)
					return args.error && args.error(req.responseText);
				return args.success && args.success(req.responseText);
			};
			req.send(args.data);
			return req;
		}
	};



	</script>
</head>
<body>
	<title>Doge For Dogs</title>



<!--
	<div class='top'>
			<div class='top__content'>
				<div class='top__header'>Doge for Dogs</div>
				<div class='top__description'>Cancer is a disease that touches many of us, that is why Morris Animal Foundation is dedicated to finding a cure. An estimated 50 percent of all dogs will battle cancer. It is the No. 1 cause of death in dogs over the age of 2.</div>

				<div class='top__promote'>
					An Initiative of <a href=''>Much Charity</a>
				</div>
		</div>
	</div>
-->
	<div class='banner'>
		<div class='content'>
			Much <span class='orange'>Charity</span> <img style='height:35px;vertical-align:middle' src="../assets/muchcharity3.png"></img> Memes Helping Memes
		</div>
	</div>


	<div class='menu'>
		<div class='content'>
			<span style="line-height:40px">The World's Most Interesting Doge Cancer Charity</span>
			<div class='menu__item' data-section='donate'>Donate</div>
			<div class='menu__item' data-section='questions'>Questions</div>
			<div class='menu__item' data-section='cause'>The Cause</div>
			<div class='menu__item' data-section='about_us'>About Us</div>
		</div>
	</div>


	<div class='section'>
		<div class='content'>
			<img src="../assets/large_doge.png" style='float:right;height:255px'></img>
			<div style='width:50%;text-align:center;font-size:1.2em;padding-top: 25px;padding-bottom: 25px;'>
				<div style='font-size:2em;margin-bottom:10px;'>Let's help</div>
				<div style='margin-bottom:20px;'><a href="http://abcnews.go.com/Entertainment/wireStory/worlds-interesting-man-aids-dog-cancer-fight-21596721">The World'd Most Interesting Man</a> raise money for dog cancer.</div>

				<div style='font-size:2em;margin-bottom:10px;'>100%</div>
				<div style='margin-bottom:20px;'>of the proceeds will go to the <a href="http://www.morrisanimalfoundation.org/">Morris Animal Foundation.</a></div>


			</div>

		</div>
	</div>

	<div id="donate" class='section grey' style='text-align:center'>
		<div class='content'>

			<div class='black_title'>Use DogeCoins to Save DogeLives</div>

			<img style='height:200px;margin-right:10px;' src="../assets/dogecoin.png"></img><img style='height:200px;' src="../assets/2s.png"></img>

			<div style="margin-top:30px;margin-bottom:20px;"> <span style='font-family:"impact"'>Total Donated</span> : <span class='amount'></span> DOGE</div>

			<div class='meterContainer'>
				<div class='meter'>
					<div class='bar percent'></div>
				</div>
				<div style='display:inline-block;vertical-align: middle;'><b><div class='goal'></div></b> (To the moon!)</div>

			</div>
			<div style='font-size:1.3em'>Donation Address : <i>DLVhazsZNfZX3qAJ9wRfcKSqCwFnuQFCDt </i></div>
		</div>
	</div>

<!--

	<div id="donate" class='section'>
		<div class='content'>
			<h3>Donate</h3>
			<p>Help the world’s <a href	="http://abcnews.go.com/Entertainment/wireStory/worlds-interesting-man-aids-dog-cancer-fight-21596721">Most Interesting Man</a> raise money for Dog	Cancer! 100% of the proceeds will go to the <a href="http://www.morrisanimalfoundation.org/">Morris Animal Foundation.</a></p>

			<p>We’ve raised <b><span class='amount'></span></b> DOGE to our goal</p>

			<div class='meterContainer'>
				<div class='meter'>
					<div class='bar amount'></div>
				</div>
				<div style='display:inline-block;'><b><div class='goal'></div></b> (To the moon!)</div>

			</div>
			<p>Help turn Dogecoins into Doge Lives.</p>
			<div style='font-size:1.3em'>Donation Address : <i>DLVhazsZNfZX3qAJ9wRfcKSqCwFnuQFCDt </i></div>
		</div>
	</div>

-->

	<div id="questions" class='section drkgrey'>
		<div class='content'>
			<h3>Such Questions</h3>
			<h4>Why start this up?</h4>
			<p>I loved the charity initiatives in the community. Since I'm passionate about cryptocurrencies, I thought <i><b>"Why not match meme charities with meme currencies"</i></b> -Much simplicity.</p>

			<h4>Who has control of the wallet?</h4>
			<p>We’ve been working tirelessly for the past few days, and wanted to get this initial campaign running before the event. I'll be managing the wallet, but in the future, I'll have meme charities control the funds.</p>
			<h4>Why raise 40k?</h4>
			<p>The K9 Dog Walk is hoping to raise 40k for dog cancer by January 26th. They are already half way there. If we can get to 20k, that would be awesome, but let's shoot for the moon! Donation period ends January 27th at 11:59pm.</p>
			<h4>What if I have some additional questions?</h4>
			<p>You can reach us at info@muchcharity.com. Bio and personal contact details are available at the bottom of the page. The charity event can be found <a href="http://support.morrisanimalfoundation.org/site/TR?fr_id=1380&pg=entry#.UuL-BBD8XDf">here</a></p>
		</div>

	</div>


<!--

	<div id="questions" class='section grey'>
		<div class='content'>
			<h3>Such Questions</h3>
			<h4>Why start this up?</h4>
			<p>We are passionate about cryptocurrencies, and loved the idea of helping meme charities with meme currencies. Such simplicity, much love.</p>
			<h4>Who has control of the wallet?</h4>
			<p>We’ve been working night and day since Wednesday, and wanted to get this initial campaign running before the event. The wallet is currently being managed by Jay Raynor, but in the future, we will have all meme charities in control of the funds. Much liability.</p>
			<h4>Why 40k?</h4>
			<p>The K9 Dog Walk is trying to raise 40k for dog cancer. They are already half way there. If we can get to 20k, that would be awesome, but shoot for the stars, right?</p>
			<h4>Who can we have any questions?</h4>
			<p>You can reach us at info@muchcharity.com. Bio and personal contact details are available at the bottom of the page. The charity event can be found <a href="http://support.morrisanimalfoundation.org/site/TR?fr_id=1380&pg=entry#.UuL-BBD8XDf">here</a></p>
		</div>

	</div>
-->
	<div id='cause' class='section grey'>
		<div class='content'>
			<h3>K9 Cancer Walk</h3>
			<p>Cancer is a disease that touches many of us, that is why Morris Animal Foundation is dedicated to finding a cure. An estimated 50 percent of all dogs will battle cancer. It is the No. 1 cause of death in dogs over the age of 2.</p>
			<p>All dog lovers are invited to walk with their dogs to celebrate the life of their canine best friend or to walk in memory of dogs that have lost their battle with canine cancer. We will have an expo area of dog related vendors and a celebration after the walk. Sign up today and help create a healthier tomorrow for dogs everywhere! </p>
		</div>

	</div>
	<div id='about_us' class='section'>
		<div class='content'>
			<h3>About Us</h3>
			<p><b>Jay Raynor</b> – Waterloo, ON <br>After graduating from McMaster University in 2011, Jay immediately decided to become a professional at daily fantasy sports, despite knowing nothing about sports. Since then, he’s won the Canadian board game championships, competed nationally at Settlers of Catan, and is passionate about cryptocurrencies. You can connect with Jay either by <a href="https://www.facebook.com/raynorjay">Facebook</a> or <a href="https://twitter.com/JayRaynor88">Twitter</a>.</p>
		</div>
	</div>





	<div class='footer'>
		<div class='content'>
			<div class='footer__about'>
				<h3>About</h3>
				<p>
					Questions? E-mail us at info@muchcharity.com.
				</p>
				<p>
					Much tips to us also happily accepted : <i>DLVhazsZNfZX3qAJ9wRfcKSqCwFnuQFCDt</i>
				</p>
				<p class='footer__about__icons'>
					<a target='_blank' href='http://muchcharity.com'><i class='icon-home'></i></a>
					<a target='_blank' href='info@muchcharity.com'><i class='icon-envelope'></i></a>
					<a target='_blank' href='https://twitter.com/JayRaynor88'><i class='icon-twitter'></i></a>
					<a target='_blank' href='https://www.facebook.com/raynorjay'><i class='icon-facebook'></i></a>
				</p>
			</div>

			<div class='footer__license'>
				<h2>What is Much Charity</h2>
				<p>Memes funding memes.</p>
				<p>
					Whether it's strengthening <a href="http://www.kickstartkids.org/">Chuck Norris's charity</a> or saving the honey badger from extinction, the goal is to connect chartable shibes with meme-oriented causes.
				</p>
			</div>
		</div>
	</div>



	</div>



</body>
<script>

	Number.prototype.round = function(digits) {
		var digits = digits || 0;
		if(digits === 0){return Math.round(this);}
		return Math.round(this * Math.pow(10,digits)) / Math.pow(10,digits);
	};

	Number.prototype.addCommas = function(number){
		number = number || ("" + this);
		return number.replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,");
	};

	Number.prototype.formatMoney = function(){
		return this.addCommas(this.round(2).toFixed(2));
	};


	var goal = 700000;

	util.ajax({
		type: 'GET',
		url : "/getbalance/DLVhazsZNfZX3qAJ9wRfcKSqCwFnuQFCDt",
		success : function(result){
			$('.amount').text((result*1).formatMoney());
			$('.goal').text(goal.formatMoney());
			var percentage = ((result*1) /goal*100);
			if(percentage > 100) percentage = 100;
			$('.percent').text(percentage.round(2) + "%");
			$('.bar').width(percentage + '%');
		}
	});




	jQuery.fn.sticky = function(topOverride){
		var element = this;
		var oldTop = topOverride || element.offset().top;

		jQuery(window).scroll(function() {
			if(element.hasScrolledPast()) {
				element.css({
					'position':'fixed',
					'top'     :'0px'})
					.addClass('stuck');
			}
			if(oldTop > element.offset().top){
				element.css({
					'position':'static'})
					.removeClass('stuck');
			}
		});
		//element.parent().css('position', 'relative');
		return this;
	};

	jQuery.fn.hasScrolledPast = function(){
		return this.offset().top <= jQuery(window).scrollTop();
	}

	jQuery.fn.scrollTo = function(duration){
		duration = duration || 800;
		$('html, body').animate({scrollTop: $(this).offset().top}, duration);
	};

	$('.menu').sticky();


	//Menu Events
	$('.menu__item').each(function(){
		var item = $(this);
		item.click(function(){
			$('#' + item.data('section')).scrollTo();
		});
	});


</script>
</html>